<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/23c82541-efa8-46d0-bafb-f0719d72e526/resourceGroups/guidy-container-rg/providers/Microsoft.ContainerRegistry/registries/guidycontainer</ResourceId>
    <ResourceName>guidycontainer</ResourceName>
    <ResourceGroup>guidy-container-rg</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://guidycontainer.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9e90e625-119b-4fee-aa94-990e20ab5b7e</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>